* {
    box-sizing: border-box;
}

.results-item {
    margin: 20px 0;
}

.results-link-container {
    border: 1px solid black;
    width: 100%;
    display: block;
    text-decoration: none;
    background-color: #F4BB4B;
    color: black;
    border-radius: 10px;
}

.results {
    height: 20%;
    margin: 10px auto;
}

.results_company {
    margin: 0 auto; 
    background-color: blueviolet;
    color: white;
    border-radius: 9px 9px 0 0;
}

