* {
    box-sizing: border-box;
}

.profile__container {
    font-family: 'Abel', sans-serif;
    text-align: center;
    font-size: 1.3em;
}

h2 {
    font-size: 2.5em;
    margin: 15px auto 10px;
}

.profile__image {
    width: 250px;
    height: 275px;
    margin: 20px auto 0;
}

.profile__personal {
    width: 100%;
}

.pro_tag {
    font-size: .9em;
    width: 85%;
    height: 110px;
    margin: 10px auto 30px;
}

.pro_industry {
    font-size: .9em;
    height: 50px;
    margin: 10px auto 30px;
}