* {
    box-sizing: border-box;
}

.emp {
    height: 30px;
    margin: 20px auto;
}

.emp_title {
    width: 100%;
    color: white;
    margin: 0px auto;
    background-color:#00A7E1;
}

@media (min-width: 700px) {
   .profile_employment {
        width: 100%;
        height: 270px;
        text-align: center;
   }

   .emp {
       font-size: .8em;
       margin: 10px auto;
   }

   .emp_h4 {
        margin: 20px auto;
   }
}