* {
    box-sizing: border-box;
}

.header {
    background-color: blue;
    color: white;
    text-align: center;
    height: 100px;
    line-height: 1.7;
}

h1 {
    margin: 0;
}
.header_title {
    color: white;
    margin: 0;
    text-decoration: none;
}

.a_log {
    color: white;
    text-decoration: none;
}

.header__logout {
    display: flex;
    justify-content: space-evenly;
}